<div id='new-task-wrapper' class='new-item-wrapper'>
	<div index='completed-tasks-container' class='cdt-container'>
		<h1>COMPLETED TASKS</h1>
		<div id='completed-tasks-list'></div>
	    	<%= render partial: "task", collection: @tasks.completed_true || "No Tasks"%>
	</div> <!-- close column -->

	<div index='upcoming-tasks-container' class='cdt-container'>
	    <h1>UPCOMING TASKS</h1>
	    <div id='task-list'>
	    	<%= render partial: "task", collection: @tasks || "No Tasks"%>
	    </div>
	</div> <!-- close column -->
	
	<div index='add-task-container' class='cdt-container'>
		<h1>Add Task</h1>
		<%= render partial: "form", locals: {company: @company, position: @position} %>
	</div> <!-- close column -->
</div>  <!-- close wrapper -->














<script type="text/javascript" charset="utf-8">

var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

$("form").on('submit', function (e) {
	e.preventDefault()
	var $form = $(this)
	var action = $form.attr('action')
	var data = $form.serialize()
	data.authenticity_token = AUTH_TOKEN;
	$.ajax({
		url: action,
		data: data,
		datatype: 'json',
		method: 'POST', 
	    success: function (data) {
			alert('success') 
			console.log(data)
			$("#task-list").append(data.html),
			$("#new_task")[0].reset();
		},
		error: function (data) {
			alert('something went wrong') }
	})
})




</script>