
<div>
	<%= form_for [@task], :url => task_path(@task), :html => {:id => "add-job", :method => :post} do |f| %>

		<p><%= f.collection_select :job_ids, @task.user.jobs, :id, :company, {:include_blank => 'choose job'} %></p>	

		<%= f.submit "Link Job", {id: 'btn-add-job'} %>

	<% end %>
</div>

