
<%= form_for [@task.user, @task], :url => user_task_path(@task.user, @task), :html => {:id => "add-job", :method => :post} do |f| %>

	<p><%= f.collection_select :job_id, @task.user.jobs, :id, :company, {:include_blank => 'choose job'} %></p>	

	<%= f.submit "Link Job", {id: 'btn-add-job'} %>

<% end %>

