<div id='job-index-container'>
  <% if @jobs.length > 0 %>

    <% @jobs_active = @jobs.select {|job| job.archived == false} %>

    <% @jobs_archived = @jobs.select {|job| job.archived == true} %>

    <h1>POSITIONS</h1>




    <div id='job-index-header'>


      <div><button><%= link_to "Add New Position", new_job_path %></button></div>

        <% if @jobs_archived.length > 0 %> 
          <div>
            <form>
              <input id='show-archive-check' type="checkbox" name="archive" value="1"> show archive
          </form>
        </div>
        <% end %>


      </div>

    <br>
    <br>






    <div id="active-wrapper">
      <%= render partial: "table", locals: {jobs: @jobs_active} %>
    </div>


    <div id="archive-wrapper" style="display: none;">
      <% if @jobs_archived.length > 0 %>
        <br><br>
        <h3>Archived Positions</h3>
        <%= render partial: "table", locals: {jobs: @jobs_archived} %>
      <% end %>
    </div>

  <% else %>
    <div id='top'>
      <h1>YOU HAVE NO SAVED POSITIONS</h1>
      <button><%= link_to "Add New Position", new_job_path %></button>
      <br><br>
    </div>
  <% end %>
</div> <!--close page-->








<script>


const renderArchive = function() {

var checkbox = document.querySelector("#show-archive-check");

  checkbox.addEventListener( 'change', function() {
    let archiveCheck = document.getElementById('show-archive-check').checked
      if(archiveCheck) {
          $('#archive-wrapper').show()
      } else {
          $('#archive-wrapper').hide()
      }
  });
    
}




$( document ).on('turbolinks:load', function() {
  renderArchive()
})


</script>


