<div class='user-id' data-id="<%= current_user.id %>"></div>
<div id='new-contact-wrapper' class='new-item-wrapper'>
	<div index='reference-container' class='cdt-container'>
		<h1>References</h1>
		<%= render partial: "contact", collection: @contacts.is_reference || "No Contacts"%>
	</div> <!--close column -->
	
	<div index='all-contacts-container' class='cdt-container'>
	    <h1>Contacts</h1>
<!-- 	    <button id="contacts-sort">First Name</button>
	    <button id="contacts-sort-2">Last Name</button> -->
		<div id='contact-list'>
		    <%= render partial: "contact", collection: @contacts || "No Contacts"%>
	    </div>
	</div> <!--close column -->

	<div index='add-contact-container' class='cdt-container'>
		<h1>Add Contact</h1>
		<%= render 'form' %>
	</div> <!--close column -->
</div> <!--close page -->






<script type="text/javascript" charset="utf-8">


$(document).ready(function () {
	user_id = $(".user-id").data("id")
	buttonSort1()
	buttonSort2()
})



$("form").on('submit', function (e) {
	e.preventDefault()
	var $form = $(this)
	var action = $form.attr('action')
	var params = $form.serialize()

	$.ajax({
		url: action,
		data: params,
		datatype: 'json',
		method: 'POST', 
	    success: function (data) {
			alert('success') 
			$("#contact-list").append(data.html),
			$("#new_contact")[0].reset();
		},
		error: function (data) {
			alert('something went wrong') }
	})
})


// SORT CONTACTS W/O REQUEST
// const buttonSort1 = function() {
// 	$('#contacts-sort').on('click', function() {
// 		let $cList = $( "#contact-list .list-items" ).toArray().map((li) => { 
// 			return `<h3 class="list-items">${li.innerHTML}</h3>`
// 		})
// 		$($("#contact-list .list-items" )).remove()
// 		let $sorted = sortContacts($cList).join('')
// 		$('#contact-list').append($sorted)
// 	})
// }

// const sortContacts = function (c_list) {
// 	return c_list.sort(function (a, b) {
// 		let reg = /<li>(.*?)</
// 		if ( a.match(reg)[0] < b.match(reg)[0] ) return -1;
// 		if ( a.match(reg)[0] > b.match(reg)[0] ) return 1;
// 		return 0;
// 	})
// }


// // SORT CONTACTS W/ GET REQUEST
// const buttonSort2 = function() {
// 	$('#contacts-sort-2').on('click', function() {
// 		$.get(`/contacts/sort`, function(data) {
// 			$($("#contact-list .list-items" )).remove()
// 		    jQuery(data).each(function(i, contact){
// 		        let c = new Contact(contact, user_id)
// 		        $("#contact-list").append(c.formatBulletItem())
// 		    })
//         })
// 	})
// }




</script>