<div class='user-id' data-id="<%= current_user.id %>"></div>
<div id='new-contact-wrapper' class='new-item-wrapper'>
	<div index='reference-container' class='cdt-container'>
		<h1>References</h1>
		<%= render partial: "contact", collection: @contacts.is_reference || "No Contacts"%>
	</div> <!--close column -->
	
	<div index='all-contacts-container' class='cdt-container'>
	    <h1>Contacts</h1>
<!-- 	    <button id="contacts-sort">First Name</button>
	    <button id="contacts-sort-2">Last Name</button> -->
		<div id='contact-list'>
		    <%= render partial: "contact", collection: @contacts || "No Contacts"%>
	    </div>
	</div> <!--close column -->

	<div index='add-contact-container' class='cdt-container'>
		<h1>Add Contact</h1>
		<%= render 'form' %>
	</div> <!--close column -->
</div> <!--close page -->





<script type="text/javascript" charset="utf-8">
var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

$(document).ready(function () {
	user_id = $(".user-id").data("id")
	buttonSort1()
	buttonSort2()
})

$("form").on('submit', function (e) {
	e.preventDefault()
	var $form = $(this)
	var action = $form.attr('action')
	var data = $form.serialize()
	data.authenticity_token = AUTH_TOKEN;
	$.ajax({
		url: action,
		data: data,
		datatype: 'json',
		method: 'POST', 
	    success: function (data) {
			alert('success') 
			$("#contact-list").append(data.html),
			$("#new_contact")[0].reset();
		},
		error: function (data) {
			alert('something went wrong') }
	})
})




</script>