
<%= form_for [@task], :url => task_path(@task), :html => {:id => "add-document", :method => :post} do |f| %>

	<p><%= f.collection_select :document_ids, @task.user.documents, :id, :title, {:include_blank => 'choose document'} %></p>	

	<%= f.submit "Link Document", {id: 'btn-add-document'} %>

<% end %>
