

<div>
	<%= form_for @job, url: job_link_document_path(@job), :html => {:id => "add-document", :class => "link-field", :method => :post} do |f| %>

		<p><%= f.collection_select :document_ids, @job.user.documents, :id, :title, {:include_blank => 'choose document'} %></p>	

		<%= f.submit "Link Document", {id: 'btn-add-document'} %>

	<% end %>
</div>