
button {
    background-color: white;
    border-radius: 4px;
    color: black;
    border: 1px solid #545353;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.18), 0 1px 3px 0 rgba(0,0,0,0.17);
}

button:hover {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24),0 4px 6px 0 rgba(0,0,0,0.19);
}


.unlink-button {
    width: 320px;
    background-color: white;
    color: black;
    border: solid black 1px;
    padding: 12px 20px;
    margin-top: 0px;
    /*border: 2px solid;*/
    /*border-color: darkgray;*/
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}


.pg-btn {
    margin-top: 6px;
    font-size: 40px;
}
