// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contact-bullet {
	list-style-type: circle;
}

.contact-item{
	color: black;
	list-style-type: circle;
}