label {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 12px 12px 0;
  display: inline-block;
}


input, select {
    width: 320px;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 0 20px;
    padding: 12px 20px;
    height: 35px;
    border: 1px solid #5b4f4f;
    
}


input[type=date]{
    margin: 0 0 15px;
}


input[type=submit] {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 49px;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


textarea, select {
    width: 320px;
    width: 225px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 0 20px 0;
    font-size: 16px;
}

#job_desc, #co_desc {
        width: 700px;
        height: 183px;
}




#small-fields {
    text-align: center;
    float: left;
    width: 40%;
    padding-top: 35px;
    border: solid 1px;
    height: 1200px; /* Should be removed. Only for demonstration */
}


#large-fields {
    text-align: center;
    border: solid 1px;
    float: left;
    width: 60%;
    padding: 35px 30px 0 0;
    height: 1200px; /* Should be removed. Only for demonstration */
}


#user-form {
    margin-top: 50px;
    display: block;
    text-align: center;
}
