
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto 100px;
  text-align: center;
  max-width: 1500px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #a81515;
}


h1, h2 {
  text-transform: uppercase;
  text-shadow: 2px 2px #f4f2f2;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin: auto;
    font-weight: bold;
}

.bullet-item{
    color: black;
    list-style-type: circle;
}



//NEW PAGES




.row:after {
    content: "";
    display: table;
    clear: both;
    text-shadow: 2px 2px #f4f2f2;
}




