@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    /*-webkit-font-smoothing: antialiased;*/
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto 100px;
  text-align: center;
  max-width: 1500px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #a81515;
}


h1, h2 {
  text-transform: uppercase;
  text-shadow: 2px 2px #f4f2f2;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin: auto;
    font-weight: bold;
}

.bullet-item{
    color: black;
    list-style-type: circle;
}

p.create-item a{
  color: #B50000;
}

.link-to {
    text-decoration: underline;
}


.link-field {
  padding: 0 35px 0;
}

.edit-delete {
  float: right;
}


