
#job-index-container {
  margin: auto;
  width: 85%;
  margin-top: 55px;
}

#job-index-container table {
    margin: auto;
    width: 100%;
    border: solid 1px;
    border-color: #cecece;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.19);
}

#job-index-container th {
  text-transform: uppercase;
}

#job-index-container td, #job-index-container th {
    border: 1px solid #545353;
    text-align: left;
    padding: 8px;
}




#job-index-header {
  display: -webkit-flex; /* Safari */
  display: flex;
  width: 350px;
}

#job-index-header div {
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

div#job-index-header div form {
  padding-top: 23px;
}





div#archive-wrapper {
  width: 75%;
}


/*Headers*/
tr.job-index-header-row > th {
    background-color: #dddddd;
}

.archive-table tbody tr.job-index-header-row > th {
    background-color: #efeded;
}

#archive-wrapper table tbody tr td a {
  color: #3a3939;
}

#archive-wrapper table tbody tr th {
  color: #3a3939;
  background-color: white;
}













@media only screen and (max-width: 1100px) {
  #job-index-container th.mid-no-show {
    display: none;
  }

  #job-index-container td.mid-no-show {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  #job-index-container th.mobile-no-show {
    display: none;
  }

  #job-index-container td.mobile-no-show {
    display: none;
  }
}

