
#job-index-container {
  margin: auto;
  width: 85%;
  margin-top: 55px;
}

#job-index-container table {
    margin: auto;
    width: 100%;
    border: solid 1px;
    border-color: #cecece;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.19);
}

#job-index-container th {
  text-transform: uppercase;
}

#job-index-container td, #job-index-container th {
    border: 1px solid #545353;
    text-align: left;
    padding: 8px;
}

tr.job-index-header-row > th {
    background-color: #dddddd;
}





tr.applied td:nth-child(-n+2) {
  background: #e1f4e8;
}

tr td.company-td a td:nth-child(-n+2) {
  color: purple;
}








@media only screen and (max-width: 1100px) {
  #job-index-container th.mid-no-show {
    display: none;
  }

  #job-index-container td.mid-no-show {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  #job-index-container th.mobile-no-show {
    display: none;
  }

  #job-index-container td.mobile-no-show {
    display: none;
  }
}

