// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.linked-item, .unlinked-item {
    margin-top: 0px;
}

.unlinked-item {
    margin-bottom: 3px;
}

#task_contact_id, #task_document_id, #task_job_id {
    margin-bottom: 1px;
}

div#contacts {
    border-right: solid 1px;
    border-left: solid 1px;
}


